* 
{
    box-sizing: border-box;
}

/* Style the body */
body 
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* For my name on the website */
#name
{
    border: none;
    font-size: 5vw;
}

/* Header */
.header 
{
    padding: 3vw;
    text-align: center;
    background: #4c7381;
    /* Text colour */
    color: white;
}

/* Style the top navigation bar */
.link 
{
    display: flex;
    background-color: #00374b;
    /* Makes the links an equal distance apart */
    justify-content: space-around;
    font-size: 1.3vw;
}

/* Style the links */
.link a 
{
    color: white;
    padding: 15px 20px;
    /* Removes underline from link */
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.link a:hover 
{
    background-color: #afd7db;
    color: black;
}

/* What the project part looks like*/
#project
{
    margin: 5;
    text-align: center;
    text-decoration: underline;
    color: #003746;
}

/* So project title names match colour of projects main title*/
h2
{
    color: #003746;
}

/*The body of the projects*/
.main 
{
    flex: 70%;
    background-color: #e8f4f8;
    padding: 40px 240px;
}

table
{
    width: 100%;
}

/* For the image styles */
.image
{
    width: 240px;
    height: 200px;
    padding: 10px;
}

/* Makes text go to the top for the projects */
td
{
    vertical-align: top;
}

